<div class="red mb-4">
    By accepting this disclosure, I understand that my handwritten signature has the same effect as the electronic signature below
</div>

<canvas  #signatureCanvas width="340" height="300"></canvas>


<button class="btn cancelBtn-small mt-4 mb-4 p-2 h-font-xs width-100" (click)="next()">
    Rewrite <i class="bi bi-arrow-right-short"></i>
  </button>
<button class="btn btn-primary mt-4 mb-4 customBtn h-font-xs width-100" (click)="next()">
    Submit <i class="bi bi-arrow-right-short"></i>
  </button>
  
