<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div id="wrap">
      <h2>Account Opening</h2>
      <p>{{ stepperService.subTitle }}</p>
    </div>
  </div>
  <div class="reg-form col-lg-6 col-sm-12">
    <div class="form_wrapper">
      <div class="form_container">
        <div class="row clearfix">
          <div
            class="progress"
            [style.width]="stepperService.barWidth + '%'"
          ></div>
          <div class="" *ngIf="stepperService.currentStep === 1">
            <app-registration></app-registration>
          </div>
          <div *ngIf="stepperService.currentStep === 2">
            <app-otp-email></app-otp-email>
            <!-- Step 2 content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
