<div class="d-flex">
  <h4 class="f-red">Declaration</h4>
</div>
<div class="h-font-xs">
    <div class="mt-3">
        <p class=" black">FATCA Declaration</p>
        <label class="f-light_gray">
        <input type="radio" name="price" value="yes">Yes
        <input class="mL-3" type="radio" name="price" value="no">No
        </label>
    </div>
    <div class="mT-2">
        <p class=" black">PEP Declaration</p>
        <label class="f-light_gray">
            <input type="radio" name="price" value="yes">Yes
            <input class="mL-3" type="radio" name="price" value="no">No
        </label>
    </div>
    <div  class="mT-2">
        <p class=" black">US Tax Withholding And Reporting (W-8BEN)</p>
        <label class="f-light_gray">
            <input type="radio" name="price" value="yes">Yes
            <input class="mL-3" type="radio" name="price" value="no">No
        </label>
    </div>
    <div  class="mT-2">
        <p class=" black">Disclosure For Cross Selling</p>
        <label class="f-light_gray">
            <input type="radio" name="price" value="yes">Yes
            <input class="mL-3" type="radio" name="price" value="no">No
        </label>
    </div>
    <div  class="mT-2">
        <p class=" black">Foreign Exchange Administration (FEA) Declaration</p>
        <label class="f-light_gray">
            <input type="radio" name="price" value="yes">Yes
            <input class="mL-3" type="radio" name="price" value="no">No
        </label>
    </div>
    <!-- <div class="terms-and-conditions mT-2">
        <input type="checkbox" id="termsCheckbox" class="custom-checkbox">
        <label for="termsCheckbox">I agree to the terms and conditions</label>
      </div> -->
      <div class="terms-and-conditions mT-2">
        <input type="checkbox" id="termsCheckbox" class="custom-checkbox">
        <label for="termsCheckbox " class="f-red">Terms & Conditions</label>
      </div>
      <button class="btn btn-primary mt-4 mb-4 customBtn h-font-xs width-100" (click)="next()">
        Next Step <i class="bi bi-arrow-right-short"></i>
      </button>
</div>