<div>
    <h4 class="font-red">Investment Knowledge</h4>
     </div>
     <div class="did-floating-label-content">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class="did-floating-label h-font-xs">Do you hold a degree or diploma in business or finance?</label>
      </div>
      <div class="did-floating-label-content">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class="did-floating-label h-font-xs">Do you have a professional finance related qualification?</label>
      </div>
      <div class="did-floating-label-content response-20 mT-14 mt-5">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class=" did-floating-label h-font-xs ">Have You Invested in listed specified investment products* at least 6 times in preceding 3 years? </label>
      </div>
      <div class="did-floating-label-content response-35 mT-17">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class="did-floating-label h-font-xs ">You have personally undergone and passes the SGX Online Education on specified investment product tutorial and assessment within the past 3 years? </label>
      </div>
      <div class="did-floating-label-content response-20 mT-14">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class="did-floating-label h-font-xs ">Your previous score(s) of the above assessment or examination not fallen below 50%?</label>
      </div>
      <div class="did-floating-label-content response-35 mT-17">
        <select
          class="did-floating-input"
          onclick="this.setAttribute('value', this.value);"
          value=""
        >
          <option>Yes</option>
          <option>No</option>
        </select>
        <div class="select_arrow"></div>
        <label class="did-floating-label h-font-xs ">You have not been refused the opening of the specified investment product trading account with other financial institutions four or more times? 
        </label>
      </div>
     <!-- Rest of the Step 1 form fields -->
     <button class="btn btn-primary mt-4 mb-4 customBtn h-font-xs width-100" (click)="next()">
       Next Step <i class="bi bi-arrow-right-short"></i>
     </button>
     