<div>
 <h4 class="font-red">Personal Information</h4>
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">Address</label>
  </div>
 
  <div class="did-floating-label-content">
    <select
      class="did-floating-input"
      onclick="this.setAttribute('value', this.value);"
      value=""
    >
      <option value="2">Central Region</option>
  
      <option value="1">East Region</option>
      <option value="3">North Region</option>
    </select>
    <div class="select_arrow"></div>
    <label class="did-floating-label h-font-xs">State</label>
  </div>
  
  <div class="did-floating-label-content">
    <select
      class="did-floating-input"
      onclick="this.setAttribute('value', this.value);"
      value=""
    >
      <option>Tengah</option>
      <option>Tampines</option>
      <option>Seletar</option>
    </select>
    <div class="select_arrow"></div>
    <label class="did-floating-label h-font-xs">City</label>
  </div>
  
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">Postal/ZipCode</label>
  </div>
  
  <div class="did-floating-label-content">
    <select
      class="did-floating-input"
      onclick="this.setAttribute('value', this.value);"
      value=""
    >
      <option>Yes</option>
      <option>No</option>
    </select>
    <div class="select_arrow"></div>
    <label class="did-floating-label h-font-xs">Mailing address is the same as permanent address</label>
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">Address</label>
  </div>
 
  <div class="did-floating-label-content">
    <select
      class="did-floating-input"
      onclick="this.setAttribute('value', this.value);"
      value=""
    >
      <option value="2">Central Region</option>
  
      <option value="1">East Region</option>
      <option value="3">North Region</option>
    </select>
    <div class="select_arrow"></div>
    <label class="did-floating-label h-font-xs">State</label>
  </div>
  
  <div class="did-floating-label-content">
    <select
      class="did-floating-input"
      onclick="this.setAttribute('value', this.value);"
      value=""
    >
      <option>Tengah</option>
      <option>Tampines</option>
      <option>Seletar</option>
    </select>
    <div class="select_arrow"></div>
    <label class="did-floating-label h-font-xs">City</label>
  </div>
  
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">Postal/ZipCode</label>
  </div>
  
  <!-- Rest of the Step 1 form fields -->
  <button class="btn btn-primary mt-4 mb-4 customBtn width-100" (click)="next()">
    Next Step <i class="bi bi-arrow-right-short"></i>
  </button>
  