<div>
    <div class="row mb-5 mt-3">
      <div class="col-12 cmn-head">
        Manual Documents Upload
    </div>
      <div class="col-sm-12 content-fs mt-2">[ Supports Passport, Nationality Id, Address Proof ] </div>
    </div>
    <div class="did-floating-label-content margin-auto">
        <input class="did-floating-input margin-auto" type="text" [(ngModel)]="docFront" placeholder="File Name"  />
        <label class="did-floating-label">Upload Clear Copy of Front Page</label>
        <button class="btn btn-primary btn-block smallBtn input-bn" (click)="fileFront.click()">
          Choose file
      </button>
      <input type="file" #fileFront>
    </div>
    <div class="did-floating-label-content margin-auto">
      <input class="did-floating-input margin-auto" type="text" placeholder="File Name" [(ngModel)]="docBack" />
      <label class="did-floating-label">Upload Clear Copy of Back Page</label>
      <button class="btn btn-primary btn-block smallBtn input-bn" (click)="fileBack.click()">
        Choose file
    </button>
    <input type="file" #fileBack>
  </div>
    <div class="row">
        <div class="col-6 cmn-head">
           Face ID verification
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-block smallBtn col-rgt">
                Open Camera
            </button>
        </div>
    </div>
    
        <div class="camera-bg mt-5 mb-2">
            <div class="camera-logo"></div>
            <button class="btn cancelBtn-small btn-block">
              Retake
          </button>
        </div>
    <div class="row">
        <div class="col-6">
          <button class="btn  btn-block mt-4 mb-4 cancelBtn" (click)="back()">
            Complete Later
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block mt-4 mb-4 customBtn">
            Next Step <i class="bi bi-arrow-right-short"></i>
          </button>
        </div>
      </div>
</div>