<div>
  <h4 class="f-red">Personal Information</h4>
</div>

<div class="did-floating-label-content mt-4">
  <input class="did-floating-input" type="text" placeholder=" " />
  <label class="did-floating-label h-font-xs">Title</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="text"
    placeholder=" "
    [ngModel]="formValues.name"
  />
  <label class="did-floating-label h-font-xs">First Name</label>
</div>
<div class="did-floating-label-content mt-4">
  <input class="did-floating-input" type="text" placeholder=" " />
  <label class="did-floating-label h-font-xs">Family Name</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="date"
    [(ngModel)]="formValues.dob"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Date of Birth</label>
</div>
<div class="did-floating-label-content">
  <select
    class="did-floating-input"
    onclick="this.setAttribute('value', this.value);"
    [(ngModel)]="formValues.sex"
  >
    <option value="1">Female</option>
    <option value="2">Male</option>
  </select>
  <div class="select_arrow"></div>
  <label class="did-floating-label h-font-xs">Gender</label>
</div>

<div class="did-floating-label-content">
  <input
    [ngClass]="{'did-floating-input': floatdata, 'alter-input': alterdata}"
    type="text"
    [(ngModel)]="formValues.uinfin"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs" 
    >NRIC / Identification Document No. (Passport)</label
  >
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="date"
    [(ngModel)]="formValues.dob"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Date of Expiry</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="text"
    [(ngModel)]="formValues.mobileno"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Mobile Number</label>
</div>

<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="text"
    [(ngModel)]="formValues.email"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Email Address</label>
</div>
<div class="did-floating-label-content">
  <select
    class="did-floating-input"
    onclick="this.setAttribute('value', this.value);"
    [(ngModel)]="formValues.maritalStatus"
  >
    <option value="1">Single</option>
    <option value="2">Married</option>
  </select>
  <div class="select_arrow"></div>
  <label class="did-floating-label h-font-xs">Marital Status</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="text"
    [(ngModel)]="formValues.spouseName"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Name</label>
</div>
<div class="did-floating-label-content">
  <select
    class="did-floating-input"
    onclick="this.setAttribute('value', this.value);"
    [(ngModel)]="formValues.spouseNationality"
  >
    <option value="1">Singapore</option>
    <option value="2">India</option>
  </select>
  <div class="select_arrow"></div>
  <label class="did-floating-label h-font-xs">Nationality</label>
</div>
<div class="did-floating-label-content">
  <select
    class="did-floating-input"
    onclick="this.setAttribute('value', this.value);"
    [(ngModel)]="formValues.spouseDocType"
  >
    <option value="1">Passport</option>
    <option value="2">NRIC</option>
  </select>
  <div class="select_arrow"></div>
  <label class="did-floating-label h-font-xs">Document Type</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="text"
    [(ngModel)]="formValues.spouseId"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Identity No</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="date"
    [(ngModel)]="formValues.spouseDoe"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Date of Expiry</label>
</div>
<div class="did-floating-label-content mt-4">
  <input
    class="did-floating-input"
    type="date"
    [(ngModel)]="formValues.spouseDob"
    placeholder=" "
  />
  <label class="did-floating-label h-font-xs">Date of Birth</label>
</div>
<input class="button h-font-xs" type="submit" (click)="next()" value="Next" />

