<div class="document mt-2 text-center">
  <p class="title">Choose account opening method</p>

  <div class="main-content">
    <div class="row">
      <div>
        <img
          class="logo"
          src="../../../../../../../../assets/icons/singpass-logo.png"
        />
        <p>Verify instantly</p>
        <p>You will be redirected to the SingPass website</p>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div>
        <p>Verify by document upload and selfie</p>
        <span>Take 3-5 mins</span>
      </div>
    </div>
    <div class="row">
      <p>
        Customers who have a singpass account can verify instantly by clicking
        the 'Verify instantly' button, if they do not, they use the 'Verify by
        document upload and selfie' option
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button class="btn btn-primary btn-block mt-4 mb-4 customBtn">
          Complete Later
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button class="btn btn-primary btn-block mt-4 mb-4 customBtn" (click)="next()">
          Next Step <i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
</div>
