/* You can add global styles to this file, and also import other style files */
.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

/* You can add global styles to this file, and also import other style files */
html {
  overflow-x: hidden;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #c5343a2b;
}
