<div>
    <h4 class="f-red">Account Registration</h4>
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">User Name</label>
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">New Password</label>
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" placeholder=" " />
    <label class="did-floating-label h-font-xs">Confirm Password</label>
  </div>
  <input class="button h-font-xs" type="submit" (click)="next()" value="Register" />